name: MyFirstWorkflow
on:
 push:
   branches: 
    - main
    # Creating custom input arguments for a manual workflow start.
 workflow_dispatch:
   inputs:
     homedrive:
       description: 'The home drive on the machine'
       required: true
     logLevel:
       description:  'Log Level'
       default: 'warning'
       type: choice
       options:
        - info
        - warning
        - debug
     tag:
      description: 'Apply tag after successful test run'
      required: true
      type: boolean
     environment:
       description: 'Environment to run tests against'
       type: environmemnt
       required: true
      
       

jobs:
  MyFirstJob:
    runs-on:  ubuntu-latest

    steps:
     - run : echo "Hello World!!"

     - name : Checkout
       uses : actions/checkout@v4.2.2
       
     - name: List files in the repository
       run: |
         echo "The repository {{ github.repository }} contains the following files:"
         tree

     - name: Workflow Inputs    
       run: |
         echo "Homedrive: ${{ inputs.homedrive }}"
         echo "Log level: ${{ inputs.logLevel }}"
         echo " Tag source: ${{ inputs.tag }}"
         echo " Tag source: ${{ inputs.environment }}"
       if: ${{ github.event_name == 'workflow_dispatch'}}
